@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: linear-gradient(145deg, #ffffff, #c9cfd2);
    height: 100vh;
    //  font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    width: 700px;
    border-radius: 50px;
    overflow: hidden;
    padding: 30px 40px;
    background: linear-gradient(320deg, #c9cfd2, #dde1e7);
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
    min-width: 300px;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
}
